.full-white{
    background-color: white;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.homepage-btn{
    width: 200pt;
    box-shadow: 3px 5px 10px 1px rgba(0, 0, 255, .2);;
}

.unselectedEvent{
    background-color: rgb(78, 213, 220);
    border: 0;
}

.selectedEvent{
    background-color: rgb(29, 107, 112);
    border: 0;
}

.unselectedEvent:hover{
    cursor: pointer;
}

.selectedEvent:hover{
    cursor: pointer;
}

